<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <title>Title</title>
</head>
<body>
    <h1>Create A New Show</h1>
    <form action="/api/create-show" method="post">
        <input type="text" name="locationName" placeholder="Location Name"/>
        <input type="text" name="locationAddress" placeholder="Location Address"/>
        <input type="text" name="date" placeholder="dd/MM/yyyy"/>
        <input type="text" name="startTime" placeholder="hh:mm:ss"/>
        <input type="text" name="endTime" placeholder="hh:mm:ss"/>
        <button type="submit">Submit</button>
    </form>
</body>
</html>