<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <title>Create Playlist</title>
</head>
<body>
    <div th:if="${nameOfPlaylist} == null">
        <form action="/api/create-playlist" method="post">
            <input type="text" name="playlistName" placeholder="Playlist Name"/>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div th:if="${nameOfPlaylist} != null">
        <h4 th:text="${nameOfPlaylist}"></h4>
        <form th:action="@{'/api/' + ${playlistId} + '/add-song'}" th:method="post">
            <input type="text" name="originalArtist" placeholder="Original Artist"/>
            <input type="text" name="songName" placeholder="Song Name"/>
            <input type="text" name="genre" placeholder="Genre"/>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div th:if="${songList} != null">
        <table class="table">
        <thead>
        <tr>
            <th>original Artist</th>
            <th> song name</th>
            <th> genre </th>
        </tr>
        </thead>
        <div th:each="song : ${songList}">
            <tbody>
            <tr>
                <td th:text="${song.originalArtist}" ></td>
                <td  th:text="${song.songName}"> </td>
                <td th:text="${song.genre}" ></td>
            </tr>
            </tbody>
        </div>
        </table>
        <form th:action="@{'/api/' + ${playlistId} + '/playlist-created'}" method="post">
            <button type="submit">Create Playlist</button>
        </form>
    </div>

</body>
</html>