<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width"/>
    <title>Live Show</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <link  rel="stylesheet" th:href="@{/live-show.css}"/>
</head>
    <body>
        <div class="navi">
            <nav>
                <div class="tag">
                    <div class="showCreateTag">
                        <a th:href="@{/api/create-show}"> Create a new Show </a>
                    </div>
                    <div class="playlistCreateTag">
                        <a th:href="@{/api/create-playlist}"> Create a new Playlist </a>
                    </div>
                    <div>
                        <a th:href="@{/api/view-shows}"> View Shows </a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="header">
        <h1 class="venue" th:text="${currentShow.locationName}"></h1>
        <h2 class="h2" th:text="${date}"></h2>
        <h2 class="h2" th:text="${startTime} + ' - ' + ${endTime}"></h2>
        </div>
        <form class="end-show-form" th:action="@{'/api/' + ${showId} + '/end-show'}" th:method="post">
            <button class="end-show btn btn-outline-dark" type="submit">End Show</button>
        </form>
        <div class="table-container">

        <div class="playlist-container">
            <h2>Setlist</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Original Artist</th>
                    <th> Song Name</th>
                    <th> Genre </th>
                </tr>
                </thead>
                <div th:each="song: ${playlistSongs}">
                    <tbody th:if="${song.PlaylistVisible}" >
                    <tr >
                        <td th:text="${song.originalArtist}" ></td>
                        <td  th:text="${song.songName}"> </td>
                        <td th:text="${song.genre}" ></td>
                    </tr>
                    </tbody>
                </div>
            </table>
        </div>

        <div class="queue-container" th:if="${currentShow.songQueue} == null or ${#lists.isEmpty(queueSongs)}">
            <h2>Song Queue</h2>
            <p class="no-songs">There Are Currently No Songs In The Queue</p>
        </div>
        <div class="queue-table queue-container" th:if="${currentShow.songQueue} != null and ${! #lists.isEmpty(queueSongs)} ">
            <h2>Song Queue</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Original Artist</th>
                    <th> Song Name</th>
                    <th> Genre </th>
                    <th>Votes</th>
                    <th></th>
                </tr>
                </thead>
                <div th:each="vote: ${songVotes}" >
                    <tbody>
                    <tr>
                        <td th:text="${vote.songVoted.originalArtist}" ></td>
                        <td  th:text="${vote.songVoted.songName}"> </td>
                        <td th:text="${vote.songVoted.genre}" ></td>
                        <td th:text="${vote.numberOfVotes}" ></td>
                        <td>
                            <form th:action="@{'/api/' + ${showId} + '/' + ${vote.songVoted.songId} + '/mark-as-played'}" th:method="delete">
                                <button class="mark-as-played btn btn-outline-dark" type="submit">Mark As Played</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </div>
            </table>
        </div>

        </div>

    </body>
</html>