<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>View Shows</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <link  rel="stylesheet" th:href="@{/view-shows.css}"/>
</head>
<body>
    <div class="navBar" >
        <nav>
            <div class="tags" >
                <div class="showCreateTag">
                    <a href="create-show" > Create a new Show  </a>
                </div>
                <div class="playlistCreateTag">
                    <a href="create-playlist" > Create a new Playlist  </a>
                </div>
            </div>
        </nav>
    </div>
    <h1>shows page</h1>
    <div class="showContainer" th:each="show : ${allShows}">
        <div class="allShows" >
            <div class="showInfo" >
                <div class="showInfo-paragraphs">
                    <div class="info-container">
                        <div class="info-playlist">
                            <p class ="show-info-playlist" th:text=" 'Playlist: ' + ${show.playlist.playlistName}"></p>
                            <div class="showBtn" >
                                <div class="viewPlaylistBtn">
                                    <form class="view-playlist-form" th:action="@{${show.playlist.playlistId} + '/view-playlist'}">
                                        <button class="btn btn-outline-dark" type="submit" th:text=" 'View ' + ${show.playlist.playlistName}" ></button>
                                    </form>
                                </div>
                                <div class="delete">
                                    <div class="delete-button">
                                        <form class="delete-show-form" th:action="@{${show.showId} + '/delete'}" th:method="delete">
                                            <button class="btn btn-outline-dark" type="submit">Delete Show</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info-artist-location">
                            <p id="live">LIVE IN CONCERT</p>
                            <p id="artist-name" th:text="${artistFirstName} + ' ' + ${artistLastName}"></p>
                            <p id="asterisk">******</p>
                            <p class ="show-info-name" th:text="${show.locationName}"></p>
                            <p class ="show-info-address" th:text="${show.locationAddress}"></p>
                        </div>
                        <div class="barcode">
                            <p>Invisible p tag</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="start-show">
            <form th:action="@{'/api/start-show/' + ${show.showId}}" th:method="post">
                <button type="submit">Start Show</button>
            </form>
        </div>
    </div>
    <form action="/api/artist/logout" method="post">
        <button>Logout</button>
    </form>
</body>
</html>