<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>View Shows</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>
    <link  rel="stylesheet" th:href="@{/view-shows.css}"/>
</head>
<body>
    <div class="navBar" >
        <nav>
            <div class="tags" >
                <div class="showCreateTag">
                    <a href="create-show" > Create a new Show  </a>
                </div>
                <div class="playlistCreateTag">
                    <a href="create-playlist" > Create a new Playlist  </a>
                </div>
            </div>
        </nav>
    </div>
    <h1>shows page</h1>
    <div class="showContainer" >
        <div class="allShows" th:each="show : ${allShows}">
            <div class="showInfo" >
                <p th:text=" 'location Name: ' + ${show.locationName}"></p>
                <p th:text=" 'location Address: ' + ${show.locationAddress}"></p>
                <p th:text=" 'playlist: ' + ${show.playlist.playlistName}"></p>
                <div class="showBtn" >
                    <div class="viewPlaylistBtn">
                        <form th:action="@{${show.playlist.playlistId} + '/view-playlist'}">
                            <button class="btn btn-outline-dark" type="submit" th:text=" 'view ' + ${show.playlist.playlistName}" ></button>
                        </form>
                    </div>
                    <div class="viewPlaylistBtn">
                        <form th:action="@{${show.showId} + '/delete'}" th:method="delete">
                            <button class="btn btn-outline-dark" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form action="/api/artist/logout" method="post">
        <button>Logout</button>
    </form>
</body>
</html>