html {
    height: 100%;
    margin: 0px;
}

body {
    background: url("./img/drums.jpg");
        background-size: cover;
        background-position: center;
        color: white;
}

.table-container {
    display: flex;
    justify-content: space-around;
}

.venue {
    text-align: center;
}