html {

    height: 100%;
    margin: 0;
}
login-body {
    min-height: 100%;
    margin: 0;
}

.login-body{
    background: url("./img/drums-2178425_960_720.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    color: white;
}

.container {
    align-items: center;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginName {
    text-align: center;
}

.registerName {
    text-align: center;
    margin-bottom: 10%;
}

.login{
    display: flex;
    flex-basis: 50%;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.login-form {
    display: flex;
        flex-direction: column;
        color: black;
        margin-top: 10%;
        width: 30%;
        box-shadow: 3px 7px 35px 0px rgba(250,245,250,.5);
}

.register-form {
    display: flex;
    flex-direction: column;
    color: black;
    width: 30%;
    box-shadow: 3px 7px 35px 0px rgba(250,245,250,.5);
}

.login-form input {
        margin: 5%;
        /* border-radius: 25px; */
        border: none;
        line-height: 250%;
        background-color: rgba(250,245,250, 0);
        border-bottom: 1px solid white;
        color: white;
}

.login-form input:focus {
    outline: none;
}

.login-form button {
    margin: 5%;
    border-radius: 25px;
    border: 1px solid white;
    line-height:250%;
    color: white;
}

.register-form input {
        margin: 5%;
        /* border-radius: 25px; */
        border: none;
        line-height: 250%;
        background-color: rgba(250,245,250, 0);
        border-bottom: 1px solid white;
        color: white;
}

.register-form input:focus {
    outline: none;
}

.register-form button {
    margin: 5%;
    border-radius: 25px;
    border: 1px solid white;
    line-height:250%;
    color: white;
}

.img{
    display: flex;
    flex-basis: 50%;
    height: 100%;
    align-items: center;
}

.link-container {
    display: flex;
    margin: 5%;
}

.links {
    color: white;
    margin: 5%;
    margin-left: 0px;
}

.links:hover {
    color: white;
}

