html {

    height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}


.body{
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    border: 1px solid black;
}
.login{
    display: flex;
    flex-basis: 45%;
    height: 100%;
    align-items: center;
}

.img{
    display: flex;
    flex-basis: 45%;
    height: 100%;
    align-items: center;
}

