/*table , th , td{*/
    /*border: 1px solid black;*/
/*}*/

.navBar{
    margin-top: 10px;
    background-color: black;
    height: 70px;
    display: flex;
    align-items: center;
    margin-top:17px;
    margin-bottom: 15px;
}

.tags {
    display: flex;
    flex-direction: row;
    color: white;
    text-align: center;
}
.tags a{
    color:white;
    margin: 10px;
}